@page
@model ProjectManagement.Pages.Club.ClubDefaultModel
@{
    ViewData["Title"] = "ClubDefault";
    Layout = "~/Pages/Shared/_LayoutFrontAuthenticated.cshtml";
}

<h1>Club Default Page</h1>

