@page
@model ProjectManagement.Pages.Admin.AdminDefaultModel
@{
    ViewData["Title"] = "AdminDefault";
    Layout = "~/Pages/Shared/_LayoutBackAuthenticated.cshtml";
}

<h1>AdminDefault</h1>

